#prezzoAlKm {
    background-color: aquamarine;
}
#quantiKm {
    background-color:aquamarine ;
}
#eta {
    background-color:aquamarine ;
}
#sconto {
    background-color:aquamarine ;
}
.col {
    margin: 5px;
}
#tot {
    background-color:coral;
}
.errorSpan {
    color:red;
}
#btnSpinner {
    display: none;
}
